<html>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% for(let i = 0; i < messages.length; i++) { %>
            <li>
                <%= messages[i].user %>:&nbsp;<%=messages[i].text%>
                &nbsp;-&nbsp; <%= format(new Date(messages[i].added),
                "MM/dd/yyyy HH:mm") %>
                <a href="/<%= i %>"><button>View Message</button></a>
                <%= console.log(messages[i]); %>
            </li>
            <% } %>
            <a href="/new">Add new message!</a>
        </ul>
    </body>
</html>
